<nav class="bg-white shadow">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between py-4">
      <div class="sm:ml-6 sm:flex sm:space-x-8">
        <%= link_to "Posts", posts_path, class: "text-gray-900 inline-flex items-center px-3 py-2 text-sm font-medium" %>
      </div>

      <div class="sm:ml-6 sm:flex sm:items-center">
        <% if user_signed_in? %>
          <%= button_to "Sign out", destroy_user_session_path, method: :delete, data: {controller: "turbo-native--sign-out", action: "turbo-native--sign-out#signOut"}, class: "text-gray-900 inline-flex items-center px-3 py-2 text-sm font-medium" %>
        <% else %>
          <%= link_to "Sign in", user_session_path, class: "text-gray-900 inline-flex items-center px-3 py-2 text-sm font-medium" %>
          <%= link_to "Register", new_user_registration_path, class: "text-gray-900 inline-flex items-center px-3 py-2 text-sm font-medium" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
